<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Accountant Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">


          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/add-student']" routerLinkActive="active">Add Student </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/view-student']" routerLinkActive="active">View Student</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/search-student']" routerLinkActive="active">Search Student</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/due-fees']" routerLinkActive="active">View Dues</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="padding-left: 600px;"
            [routerLink]="['/login']" routerLinkActive="active">Logout</a>
          </li>

        </ul>
      </div>
    </div>
</nav>

<div class="bg-image" style="
background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
height: 100vh; background-size : cover;">



<div class="aa" style="padding-top: 200px;padding-left: 500px"><a class="btn" style="font-size:xx-large" routerLink="/add-student">Add Student</a></div><br>
<div class="bb" style="padding-left: 500px"><a class="btn" style="font-size:xx-large" routerLink="/view-student">View Student</a></div><br>

<div class="cc" style="padding-left: 500px"><a class="btn" style="font-size:xx-large" routerLink="/search-student">Search Student</a></div><br>

<div class="dd" style="padding-left: 500px"><a class="btn" style="font-size:xx-large" routerLink="/due-fees">View dues</a></div>


</div>