<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HOME</a>
      <button class="navbar-toggler"
       type="button"
        data-bs-toggle="collapse"
         data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" 
      id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/accountant']" routerLinkActive="active">Accountant </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/admin']" routerLinkActive="active">Admin </a>
          </li>
          
          
         
         </ul>
      </div>
    </div>
  </nav>

  <div
  class="bg-image"
  style="
    background-image: url('https://cdn4.vectorstock.com/i/1000x1000/74/88/colorful-welcome-sign-on-white-background-vector-21967488.jpg');
    height: 100vh; background-size : cover;">

<a class="btn" routerLink="/admin">ADMIN</a><br>
<a class="btn" routerLink="/accountant">ACCOUNTANT</a>

</div>