<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/accountant-home']" routerLinkActive="active">Accountant Panel</a>
      <button class="navbar-toggler"
       type="button"
        data-bs-toggle="collapse"
         data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" 
      id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/add-student']" routerLinkActive="active">Add Student </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/view-student']" routerLinkActive="active">View Student</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/search-student']" routerLinkActive="active">Search Student</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/due-fees']" routerLinkActive="active">View Dues</a>
          </li>
          
          
          
         </ul>
      </div>
    </div>
  </nav>

  <div class="bg-image" style="
  background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  height: 150vh; background-size : cover;">

  
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
	<h1>Search Student </h1><br>



<form #f="ngForm" >
    
	<div class="form-group">
		<label for="search">Rollno     :</label>
		<input #name="ngModel" required name="studentId" id="search" type="number"  class="form-control" ngModel>
		
		
	</div><br>
	<button class="btn btn-primary" type="submit" (click)="search(f)">Search Student</button>	
</form>

<div class="alert alert-secondary" *ngIf="noresultsfound">No results found</div>
<table>
<div *ngIf="!noresultsfound">Student Id : {{student.studentId | json}}</div>
<div *ngIf="!noresultsfound">Student Name : {{student.studentName | json}}</div>
<div *ngIf="!noresultsfound">Email Id : {{student.emailId | json}}</div>
<div *ngIf="!noresultsfound">Address : {{student.address | json}}</div>
<div *ngIf="!noresultsfound">Contact no : {{student.contactno | json}}</div>
<div *ngIf="!noresultsfound">Course : {{student.course | json}}</div>
<div *ngIf="!noresultsfound">fees : {{student.fee | json}}</div>
<div *ngIf="!noresultsfound">fees paid : {{student.paid | json}}</div>
<div *ngIf="!noresultsfound">Due fee : {{student.duefees | json}}</div>
<div *ngIf="!noresultsfound">Gender : {{student.gender | json}}</div>
</table>
 
</div>
</div>
