/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

  body{
  background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.jpg');
  height: 100vh;

  }